version: "3.9"
services:
  postgres:
    container_name: pg_backend
    image: postgres:13.3
    environment:
      POSTGRES_DB: "postgresdb"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgresdb"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 4G
    networks:
      - app-network

  redis:
    container_name: redis_backend
    image: redis:alpine
    expose:
      - '6379'
    ports:
      - '6379:6379'
    restart: always

networks:
  app-network:
    driver: bridge
